jupyter-cache
MyST-NB
jupyter-sphinx
click_log
click_completion
sphinx_togglebutton
sphinx-copybutton
sphinxcontrib-bibtex
sphinx_click
sphinx_tabs
sphinx_thebe
sphinx-panels
jupyter-book
sphinx-book-theme
markdown-it-py
pydata-sphinx-theme
sphinxext-rediraffe

